.planteTitle{
    font-weight: 900;
}


.languageRow{
    height: 10%;
}

.informationRow{
    height: 85%;
}
.socialMediaRow{
    height: auto;
}


.marginTop{
    margin-top: 3rem !important;
}


@media screen and (min-width: 640px) {
    .leftColumn{
        margin-left: 5rem !important;
    }
    .languageRow{
        height: 20%;
    }
    
    .informationRow{
        height: 60%;
    }
    .socialMediaRow{
        height: 20%;
    }
    .background{
        background-image: url(../../assets/backgroundLanding.jpeg);
        background-size: cover;
        height: 100% !important;
    }
}

.downloadColumn{
    max-width: 185px;
}

.downloadButton {
    height: 50px;
    width: auto;
}

.socialMediaTitle {
    font-weight: 800;
    font-size: 50;
}

.socialMediaIcon{
    height: 24px;
    width: 24px;
    color: #326243;
}

