.planteTitle{
    font-weight: 900;
}


.languageRow{
    height: 10%;
}

.informationRow{
    height: 85%;
}
.socialMediaRow{
    height: auto;
}


.marginTop{
    margin-top: 3rem !important;
}


@media screen and (min-width: 640px) {
    .leftColumn{
        margin-left: 5rem !important;
        width: 100%;
    }
    .languageRow{
        height: 20%;
    }
    
    .informationRow{
        min-height: 60%;
    }

    .socialMediaRow{
        min-height: 20%;
    }

    .downloadColumn {
        margin-right: 10px;
    }
}


.downloadColumn{
    max-width: 185px;
}

.downloadButton {
    height: 50px;
    max-width: auto;
}

.socialMediaTitle {
    font-weight: 800;
    font-size: 50;
}

.socialMediaIcon{
    height: 24px;
    width: 24px;
    color: #326243;
}

