.planteTitle{
    font-weight: 900;
}

.leftColumn{
    padding-left: 8rem !important;
    margin-top: 3rem !important;
}

.downloadButton {
    height: 50px;
    width: auto;
    margin-left: 5px;
    min-width: 185px;
}

.socialMediaTitle {
    font-weight: 800;
    font-size: 50;
}

.socialMediaIcon{
    height: 24px;
    width: 24px;
    color: #326243;
}

.selectedButton {
    box-shadow: 5px 10px #EBF0EB;
}

