@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,bold,italic&subset=latin,latin-ext');

// Override default variables before the import
$theme-colors: (
  "primary": #326243,
  "disabled" : #F4F7FA,
  "secondary": #FFFFFF,
);

$body-bg: #EBF0EB;
$body-font-family: 'Montserrat';
$font-family-base: 'Montserrat, sans-serif';

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';